* {
  font-family: inherit;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
  background: #f8f9fc;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

main {
  padding: 1rem;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

h3 {
  max-width: 800px;
  text-align: center;
  line-height: 1.5;
  font-weight: lighter;
}

.highlight {
  position: relative;
}

.highlight::before {
  content: "";
  background: #fed54e;
  position: absolute;
  z-index: -1;
  inset: 0;
  transform-origin: left;
  animation: start-highlight 1s forwards;
}

@keyframes start-highlight {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
